<section id="sidebar">
  {% if user.is_authenticated %}
    <a href="#" class="brand">
      <i class='bx bxs-smile  bx-lg'></i>
      <span class="text">{{ user.username }}</span>
    </a>
  {% else %}
    <i class='bx bxs-smile  bx-lg'></i>
    <span class="text">Adminpanel</span>
  {% endif %}
  <ul class="side-menu top">
    <li>
      <a href="#">
        <i class='bx bxs-dashboard bx-sm'></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-shopping-bag-alt bx-sm'></i>
        <span class="text">My Store</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-doughnut-chart bx-sm'></i>
        <span class="text">Analytics</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-message-dots bx-sm'></i>
        <span class="text">Message</span>
      </a>
    </li>
    <li>
      <a href="{% url 'admin_panel:banner-list' %}">
        <i class='bx bxs-image-alt text-blue'></i>
        <span class="text">Banner</span>
      </a>
    </li>
    <li>
      <a href="{% url 'admin_panel:back-list' %}">
        <i class='bx bxs-paint text-green'></i>
        <span class="text">Background Banner</span>
      </a>
    </li>
    <li>
      <a href="{% url 'admin_panel:seance-list' %}">
        <i class='bx bxs-time bx-sm'></i>
        <span class="text">Seance</span>
      </a>
    </li>
    <li>
      <a href="{% url 'admin_panel:hall-list' %}">
        <i class='bx bxs-building bx-sm'></i>
        <span class="text">Hall</span>
      </a>
    </li>
    <li>
      <a href="{% url 'admin_panel:cinema-list' %}">
        <i class='bx bxs-camera-movie bx-sm'></i>
        <span class="text">Cinema</span>
      </a>
    </li>
    <li>
      <a href="{% url 'admin_panel:film-list' %}">
        <i class='bx bx-play-circle bx-sm'></i>
        <span class="text">Film</span>
      </a>
    </li>
    <li>
      <a href="{% url 'admin_panel:news-list' %}">
        <i class='bx bxs-news bx-sm'></i>
        <span class="text">News</span>
      </a>
    </li>
    <li>
      <a href="{% url 'admin_panel:contact-page-list' %}">
        <i class='bx bxs-contact'></i>
        <span class="text">Contact</span>
      </a>
    </li>
    <li>
      <a href="{% url 'admin_panel:main-page-list' %}">
        <i class='bx bx-book bx-sm'></i>
        <span class="text">Main</span>
      </a>
    </li>
    <li>
      <a href="{% url 'admin_panel:seo-block-list' %}">
        <i class='bx bxs-group bx-sm'></i>
        <span class="text">Seo</span>
      </a>
    </li>
  </ul>
  <ul class="side-menu bottom">
    <li>
      <a href="#">
        <i class='bx bxs-cog bx-sm bx-spin-hover'></i>
        <span class="text">Settings</span>
      </a>
    </li>

    <li>
      <form id="logout-form" method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <a href="#" class="logout" onclick="document.getElementById('logout-form').submit(); return false;">
          <i class='bx bx-power-off bx-sm bx-burst-hover'></i>
          <span class="text">Logout</span>
        </a>
      </form>

    </li>

  </ul>
</section>