{% extends "base.html" %}

{% block content %}
  <div class="table-container">
  <h1>Seo</h1>
    <div class="add-btn-container">
      <a href="{% url 'admin_panel:seo_block_create' %}" class="btn-add" >Додати новий блок</a>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">TITLE</th>
        <th scope="col">KEYWORDS</th>
        <th scope="col">ACTIONS</th>
      </tr>
      </thead>
      <tbody>
      {% for seo in seo_list %}
        <tr scope="row">
          <td>{{ seo.id }}</td>
          <td>{{ seo.title }}</td>
          <td>{{ seo.keywords }}</td>
          <td>
            <a href="#" class="btn btn-outline-warning" >Редагувати</a>
            <a href="#" class="btn btn-outline-danger">Видалити</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">SEO блоків немає</td>
        </tr>
      {% endfor %}


      </tbody>
    </table>
  </div>
{% endblock %}
